# Exclusion list for AI & Machine Learning projects

# Virtual Environments
venv/
.venv/
env/

# Weights and Large Models
*.pt
*.pth
*.onnx

# Video and Media files
*.mp4
*.avi
*.mov
*.mkv
images/

# IDE filesس
.idea/
.vscode/
__pycache__/